body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f6f6f6;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.input-container {
  margin-bottom: 10px;
}

.input-container input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.button-container {
  margin-bottom: 10px;
}

.task-item {
  margin-bottom: 10px;
  padding: 10px;
  width: 20vw;
  background-color: #f8f8f8;
  position: relative;
  border-radius: 5px;
}

.task-item-content {
  margin-bottom: 5px;
}

.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #0056b3;
}
